<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link th:href="@{https://fonts.googleapis.com/css2?family=Roboto&display=swap}" rel="stylesheet">
    <link th:href="@{https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
<!--    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">-->
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/css/login-style.css" th:href="@{/css/login-style.css}">
    <title>登录</title>
</head>
<body>
<img src="img/background.png" alt="" class="wave">
<div class="container">
    <div class="login-box">
        <form action="">
            <h2 class="wc">Welcome</h2>
            <div class="input-group">
                <div class="icon">
                    <i class="fa fa-user"></i>
                </div>
                <div>
                    <h5>账号</h5>
                    <input type="text" class="input" id="stunum">
                    <div class="tip" id="dstuphone">学号长度应为13位</div>
                </div>
            </div>
            <div class="input-group">
                <div class="icon">
                    <i class="fa fa-lock"></i>
                </div>
                <div>
                    <h5>密码</h5>
                    <input type="password" class="input" id="stupwd">
                    <div class="tip" id="dsubmit">密码长度至少6位</div>
                </div>
            </div>
            <a class="zhuce" href="register.html">注册</a>
            <a class="wangji" href="forget_pwd.html">忘记密码?</a>
            <button type="button" id="login" class="btn">登录</button>
            <h6 class="hengxian">其他方式登录</h6>

            <button type="button" id="faceScan" class="btn0" data-toggle="modal" data-target="#myModal">
            </button>
            <a href="login2.html" class="btn1"></a>
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content" style="height: 550px;width: 450px">

                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">上传本人照片</h4>
                        </div>
                        <div class="modal-body">
                            <!--								<iframe style="height: 100%;width: 100%" src="face" frameborder="0"></iframe>-->
                            <video  id="video" width="300" height="350" autoPlay></video>
                            <canvas style="display: none"  id="canvas" width="320" height="320"></canvas>
                            <!--								<canvas style="" id="canvas" width="0" height="0"></canvas>-->
                            <script>
                                function registered() {
                                    var canvans = document.getElementById("canvas");
                                    // 获取浏览器页面的画布对象
                                    // 以下开始编 数据
                                    var imgData = canvans.toDataURL();
                                    // 将图像转换为base64数据
                                    var base64Data = imgData.substr(22);
                                    // 获取名称
                                    var name = $("#stunum").val();
                                    //开始异步上
                                    $.post("/registered", {"img": base64Data, "name": name}, function (data, status) {

                                        if (status == "success") {
                                            if (data == "success") {
                                                alert("success");
                                            } else if (data == "error") {
                                                alert("error");
                                            }
                                        } else {
                                            alert("上传失败");
                                        }
                                    }, "text");
                                }

                                function verification() {
                                    var canvans = document.getElementById("canvas");
                                    // 获取浏览器页面的画布对象
                                    // 以下开始编 数据
                                    var imgData = canvans.toDataURL();
                                    // 将图像转换为base64数据
                                    var base64Data = imgData.substr(22);
                                    //开始异步上
                                    $.post("/verification", {"img": base64Data}, function (data, status) {
                                        if (status == "success") {
                                            if (data != null) {
                                                if ("error" == data) {
                                                    alert("身份验证失败!");
                                                } else {
                                                    alert("身份验证成功！");
                                                    location.href = "main";
                                                }
                                            }
                                        } else {
                                            alert("上传失败");
                                        }
                                    }, "text");
                                }

                                window.addEventListener("DOMContentLoaded", function () {
                                    var canvas = document.getElementById("canvas"),
                                        context = canvas.getContext("2d"),
                                        video = document.getElementById("video"),
                                        videoObj = {"video": true},
                                        errBack = function (error) {
                                            console.log("Video capture error: ", error.code);
                                        };
                                    $("#snap").click(function () {
                                        context.drawImage(video, 0, 0, 330, 250);
                                        verification();
                                    })
                                    //navigator.getUserMedia这个写法在Opera中好像是navigator.getUserMedianow
                                    if (navigator.getUserMedia) {
                                        navigator.getUserMedia(videoObj, function (stream) {
                                            video.srcObject = stream;
                                            video.play();
                                        }, errBack);
                                    } else if (navigator.webkitGetUserMedia) {
                                        navigator.webkitGetUserMedia(videoObj, function (stream) {
                                            video.src = window.webkitURL.createObjectURL(stream);
                                            video.play();
                                        }, errBack);
                                    }

                                }, false);

                            </script>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button type="button" id="snap"  class="btn btn-primary">检测</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script th:src="@{../js/app.js}" type="text/javascript"></script>
<script th:src="@{../js/login_js.js}" type="text/javascript" charset="utf-8"></script>
</body>
</html>